/* src/ChatBot.css */
.app{
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbot-container {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  height: 600px;
}

.chatbot-body {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  padding: 10px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.chat-message.bot {
  background-color: #f0f0f0;
  align-self: flex-start;
  border-top-left-radius: 0;
}

.chat-message.user {
  background-color: #7c37fe;
  color: white;
  align-self: flex-end;
  border-top-right-radius: 0;
}

